.logo.js {
    position: fixed;
    width: 25%;
    height: 25%;
    top: 80px;
    left: 20px;
}
.largeCenteredRow {
    display: block;
    justify-content: left;
    height: 30vh;
}
.mediumRow {
    display: block;
    justify-content: left;
}

#animation .text-xl {
    font-size: 1.5rem;
    color: currentColor;
    letter-spacing: 0.06em;
}